<form class="searchbar" action="top.html.erb">
  <input type="text" style="display:inline-block" id="search" placeholder="検索" name="Search">
  <button type="submit" style="display:inline-block"><i class="fas fa-search"></i></button>
</form>


<div class="home_top">
  <img src="assets/ad.jpg" class="ad">
</div>

<div id="ranking">
  <div>
      <strong>ランキング</strong>
      <!-- <span class="more">
        <!-- <a href="page_list.html">もっと見る></a> -->
      <!-- </span> -->
  </div>
  <% @mangas.each do |manga|%>
    <%= link_to "", "#{manga.id}" %>
      <strong>
        <%= manga.id %>
      </strong>
      <%= manga.name %>
      <%= manga.author%>
  <% end %>
<!--
  <div class="entry_top">
      <a href="page_manga.html">
          <div class="num_ranking"><strong>1</strong></div>

          <div class="cover_ranking">
              <img src="assets/comic1(1).jpg" class="side">
          </div>

          <div class="title_author">
              <div class="title_ranking"><strong>ワンピース(98)</strong></div>
              <div class="author_ranking">尾田栄一郎</div>
          </div>
      </a>
  </div> -->

</div>

<div id="newwork">
  <div>
      <strong>新作</strong>
      <span class="more">
          <a href="page_list.html">もっと見る></a>
      </span>
  </div>

  <div class="entry_side">
      <a href="page_manga.html">
          <img src="assets/comic1(1).jpg" class="side">
          <span class="caption">ワンピース(98)</span>
      </a>
  </div>

  <div class="entry_side">
      <a href="page_manga.html">
          <img src="assets/comic2(1).jpg" class="side">
          <span class="caption">呪術廻戦(15)</span>
      </a>
  </div>

  <div class="entry_side">
      <a href="page_manga.html">
          <img src="assets/comic3(1).jpg" class="side">
          <span class="caption">進撃の巨人(33)</span>
      </a>
  </div>

</div>

<div id="favorites">
  <div>
      <strong>お気に入り</strong>
      <span class="more">
          <a href="page_list.html">もっと見る></a>
      </span>
  </div>

  <div class="entry_side">
      <a href="page_manga.html">
          <img src="assets/comic1(1).jpg" class="side">
          <span class="caption">ワンピース(98)</span>
      </a>
  </div>

  <div class="entry_side">
      <a href="page_manga.html">
          <img src="assets/comic2(1).jpg" class="side">
          <span class="caption">呪術廻戦(15)</span>
      </a>
  </div>

  <div class="entry_side">
      <a href="page_manga.html">
          <img src="assets/comic3(1).jpg" class="side">
          <span class="caption">進撃の巨人(33)</span>
      </a>
  </div>

</div>
