<div class="container">
  <div class="top_text">
    ユーザ名設定
  </div>
  <div class="row">
    <div class="col-12 user_set name_set">
      <%= form_tag("/user/name") do %>
        <div id="info_register">
          <%if @user.present?%>
            <% @user.errors.full_messages.each do |message| %>
              <div class="alert alert-danger form-error">
                <%= message %>
              </div>
            <% end %>
          <%end%>
        <input name="name" placeholder="新しい名前" value="<%= @user.name%>">
          <div>
          <input type="submit" id="button_register" class="btn btn-lg btn-primary red_btn" value="設定">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<%= link_to "/user/page" do%>
  <div class="bottom_nav">
    戻る
  </div>
<% end %>
