<p>ユーザー支払いページ</p>

<div class = "id">
<%= @current_user.id %>
</div>

<!-- <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_4d71821ad18b8f6f7a889601"></script> -->


<%= link_to("カード設定","/card/new")%>

<%= link_to("カード確認","/card/show")%>
