<div class="container">
  <div class="top_text">
    新規登録
  </div>
  <div class="row">
    <div class="col-12 login_col">
      <%= form_tag("/user/create") do %>
        <div id="info_register">
          <%if @user.present?%>
            <% @user.errors.full_messages.each do |message| %>
              <div class="alert alert-danger form-error">
                <%= message %>
              </div>
            <% end %>
          <%end%>

          <input name="email" type="email" id="email_register" placeholder="メールアドレスを入力" value="<%=@user.email%>">

          <input name="password1" type="password" id="password1_register" placeholder="パスワード" value="<%=@user.password%>">

          <input name="password2" type="password" id="password2_register" placeholder="パスワードをもう一度入力">

          <input type="submit" class="btn btn-lg btn-primary red_btn" value="登録">
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- <div id="text_register"><strong>新規会員登録</strong></div>
<div id="info_register">
    <div>
        <label for="email_register">メールアドレス</label>
        <input type="email" id="email_register" placeholder="メールアドレスを入力" required>
    </div>
    <div>
        <label for="password1_register">新規パスワード</label>
        <input type="password" id="password1_register" placeholder="パスワードを入力" required>
    </div>
    <div>
        <label for="password2_register">パスワードをもう一度入力して下さい</label>
        <input type="password" id="password2_register" placeholder="パスワードを入力" required>
    </div>
    <div>
        <label for="address_register">住所</label>
        <input type="text" id="address_register" placeholder="住所を入力">
    </div>
    <div>
        <label for="bank_register">口座</label>
        <input type="text" id="bank_register" placeholder="口座情報を入力">
    </div>
    <div>
        <a href="tab_home.html">
            <input type="submit" id="button_register" value="登録">
        </a>
    </div>
</div> -->
