

<% form_tag(pay_card_index_path) do %>
  <div>
    <%= @error_message %>
    <label>
      <div class="payment_list">
        <strong>カード番号</strong>
      </div>
      <div class="payment_list">
        <input name= "number "type="text" id="card_num" size="21">
      </div>
      <div class="payment_list">
        <strong>有効期限</strong>
      </div>
      <div class="payment_list">
        <select name= "exp_month" id="payment_month">
          <option value="">--</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <select name = "exp_year" id="payment_year">
          <option value="">----</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
          <option value="2034">2034</option>

        </select>
        <input name= "cvc" type="text" id="card_security_num" size="5" placeholder="cvc">
      </div>
      <input type="submit" id="token_submit" value="登録">
    </label>
  </div>
<% end %>
