$nav-color: #777675;

$base-color: #f55b5b;
$border-color: #ff0000;

$text-color: #fcfcfc;

$btn-color:#ec5b5b;
$btn-hover-color: #d44d4d;

$offer-cl:#3b90f6;

$blue:#3b90f6;
$gray:#777675;
$white:#fcfcfc;
$black:#000000;

$margin:60px;
$margin-s:30px;
$margin-l:90px;

$padding:60px;
$padding-s:30px;
$padding-l:90px;

$font-xs:0.5rem;
$font-s:0.8rem;
$font:1rem;
$font-l:1.5rem;
$font-xl:2rem;
