$nav-color: #777675;

$base-color: #f55b5b;
$border-color: #ff0000;

$text-color: #fcfcfc;

$btn-color:#ec5b5b;
$btn-hover-color: #d44d4d;

$offer-cl:#3b90f6;

$blue:#3b90f6;
$gray:#777675;
$white:#fcfcfc;
$black:#000000;

$margin:20px;
$margin-s:10px;
$margin-l:30px;

$padding:20px;
$padding-s:10px;
$padding-l:30px;

$font-l:30px;
