$nav-color: #777675;

$base-color: #f55b5b;
$border-color: #ff0000;

$text-color: #fcfcfc;

$btn-color:#ec5b5b;
$btn-hover-color: #d44d4d;

$offer-cl:#3b90f6;

$margin:20px;
$margin-s:10px;
$margin-l:30px;
