/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


@import "bootstrap";
@import "_variables";
@import "card";
@import "home";
@import "manga";
@import "user";



//共通デザイン

html{
  font-size:50px;
}
body {
    background-color: rgb(255, 255, 255);
}

.header_row{
  padding-top:5px 0;
  border: 5px solid;
  border-color: transparent;
  border-bottom-color: $border-color;
  margin-bottom: 10px;
}

.header a{
  color:$black;
  text-decoration: none;
}

.header_rank{
  text-align:right;
  font-size:$font;
}
.header_rank span{
  font-size:$font-l;
}

//見出し
.top_text{
}

.ad {
  width:330px;
  object-fit: contain;
  border-radius: 10px;
  margin-left:10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav_bar {
  background-color: #fcfcfcfc;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border:1px solid;
  border-color:transparent;
  border-top-color: $nav-color;
}
.nav_bar .nav-col{
  text-align:center;
}
.nav_{
  padding: 40px 0;
}

.nav_bar a {
  color:#000000;
  // padding: 10px 5px;
  text-decoration: none;
  font-size: $font;
}

.red_btn{
  margin-top:$margin-s;
}

.attention {
  font-size:0.8rem;
  margin-top:$margin-s;
}

// .nav_bar ul{
//   margin-block-start:0px;
//   padding-inline-start: 40px;
// }

#home #home_nav{
  background-color: $nav-color;
  color: white;
}

#manga #manga_nav {
  background-color: $nav-color;
   color: white;
 }

#user #user_nav {
  background-color: $nav-color;
   color: white;
 }
#favorites {
    color:#f32121;
    font-size: 25px;
    padding:5px;
}
#searching {
    color:#f32121;
    font-size: 25px;
    padding:5px;
}

#newwork {
    color:#f32121;
    font-size: 25px;
    padding:5px;
}
#recents {
    color:#f32121;
    font-size: 25px;
    padding:5px;
    margin-bottom: 50px;
}
#recommended {
    color:#f32121;
    font-size: 25px;
    padding:5px;
    margin-bottom: 50px;
}
#genre {
    color:#f32121;
    font-size: 25px;
    padding:5px;
    margin-bottom: 50px;
}
#popular {
    color:#f32121;
    font-size: 25px;
    padding:5px;
    margin-bottom: 50px;
}
#list {
    color:#f32121;
    font-size: 25px;
    padding:5px;
    margin-bottom: 50px;
}

.more {
    color:#f32121;
    font-size:15px;
    float: right;
    text-decoration: none;
}

    /**img 180x244**/

.topnav {
    background-color: #f32121;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
//
// .entry_side {
//     vertical-align: top;
//     display: inline-block;
//     text-align: center;
//     width: 100px;
//     font-size:15px;
// }
//
// .button_genre {
//     background-color: rgb(241, 235, 235);
//     border: #f32121;
//     border-radius: 10px;
//     text-align: center;
//     font-size: 20px;
// }
//
// .num_ranking {
//     vertical-align: top;
//     display: inline-block;
//     text-align: center;
// }
//
// .cover_ranking {
//     vertical-align: top;
//     display: inline-block;
//     text-align: center;
// }
//
// .title_author {
//     vertical-align: top;
//     display: inline-block;
//     text-align: center;
// }
// .fav {
//     vertical-align: top;
//     display: inline-block;
//     text-align: center;
// }
//
// #button_fav {
//     background-color: #f32121;
//     color: white;
//     font-size: 20px;
// }
//
// .button_buy {
//     width: fit-content;
//     font-size:25px;
//     color: white;
//     padding-left: 140px;
//     padding-right: 140px;
//     background-color: #f32121;
//     margin-bottom: 10px;
// }
//
// .button_vol_buy {
//     width: fit-content;
//     font-size:20px;
//     color: white;
//     padding-left: 20px;
//     padding-right: 20px;
//     background-color: #f32121;
// }
//
// .description {
//     font-size: 17px;
//     color: black;
//     margin: 10px;
// }
//
// .caption {
//     display: block;
// }
//
// .entry_settings {
//     font-size: 30px;
// }
//
// #meter_buy {
//     width: 350px;
//     height: 350px;
// }
// /* <<<<<<< HEAD
//
// <<<<<<< HEAD */
// #logo_login {
//     margin-top: 150px;
//     margin-left: 85px;
//     margin-right: 85px;
//     margin-bottom: 20px;
//     width: 50%;
//     height: auto;
// }
//
// #email_login {
//     font-size: 25px;
//     margin-left: 20px;
//     margin-bottom: 10px;
//     width: 300px;
// }
//
// #password_login {
//     font-size: 25px;
//     margin-left: 20px;
//     margin-bottom: 10px;
//     width: 300px;
// }
//
// #button_login {
//     font-size:25px;
//     color: white;
//     padding-left: 60px;
//     padding-right: 60px;
//     margin-left: 65px;
//     background-color: #f32121;
// }
//
// #link_newmember {
//     margin-left: 95px;
// }
//
// #checkbox_password {
//     font-size: 18px;
// }
//
// #pass_show {
//     width: 18px;
//     height: 18px;
//     margin-left: 20px;
//     margin-bottom: 15px;
// }
//
// #text_register {
//     color: #f32121;
//     font-size: 30px;
//     margin-top: 10px;
//     margin-left: 10px;
// }
//
// /**address page**/
//
// #address {
//     font-size: 30px;
//     padding: 5px;
//     margin-top: 10px;
// }
// #user_name {
//     font-size: 20px;
//     padding: 4px;
//     margin-bottom: 10px;
// }
// #postcode1 {
//     font-size: 20px;
//     padding: 4px;
//     margin-bottom: 10px;
// }
// #postcode2 {
//     font-size: 20px;
//     padding: 4px;
//     margin-bottom: 10px;
// }
// #todofuken {
//     font-size: 20px;
//     padding: 4px;
//     margin-bottom: 10px;
// }
// .address_btn {
//     background-color: #ff7272;
//     border: none;
//     color: white;
//     padding: 15px 30px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//     margin: 4px 2px;
//     cursor: pointer;
// }
// .address_list {
//     font-size: 18px;
//     padding: 5px;
// }

@media screen and (min-width: 1500px) {
	/* 1500px以上に適用されるCSS（PC用） */
  html{
    font-size:20px;
  }
  .container-fluid{
    padding-right:10%;
    padding-left:10%;
  }
}
