// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-col{
  text-align:center;
}

.card-btn{
  background-color:$btn-color;
  border-color:$border-color;
  width:100%;
  margin-bottom:$margin-s;
  font-size:$font-s;
}
.card-btn:hover{
  background-color:$btn-hover-color;
  border-color:$border-color;
}

.card-btn span{
  font-size:$font-l;
}

.card{
  background-color:$btn-color;
  border-color:$border-color;
  width:100%;
  margin-bottom:$margin;
}

.card:hover{
  background-color:$btn-color;
  border-color:$border-color;
}

#card_form input {
  display:block;
  font-size: $font;
  // margin-left: 20px;
  margin: 0 auto;
  margin-bottom: $margin-s;
  width:100%;
}
