// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tutorial a{
  font-size:30px;
}

//管理者画面
.deal_not_yet span{
  font-size:30px;
  color:$base-color;
}

.dashboard span{
  font-size:30px;
}
