// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.give_row{
  border: 5px solid;
  border-color: transparent;
  border-bottom-color: $border-color;
  margin-bottom:$margin-l;
}

.user_rank{
  text-align:center;
  font-size: 16px;
  margin-bottom:$margin-s;
}
.user_rank span{
  font-size:$font-xxl;
}
.rank_row{
  margin:30px 0;
}

.progress_label-l{
  font-size:10px;
  text-align:left;
  vertical-align:bottom;
}

.progress_label-c{
  font-size:$font-s;
}

.progress_label-r{
  font-size:10px;
  text-align:right;
}

.progress-bar{
  background-color:$base-color;
}

.give_data{
  text-align:center;
  margin-bottom:$margin-s;
}

.give_data span{
  font-size:$font-xl;
}

.red_btn{
  background-color:$btn-color;
  border-color:$border-color;
  width:100%;
  margin-bottom:$margin-s;
  padding:0;
}
.red_btn:hover{
  background-color:$btn-hover-color;
  border-color:$border-color;
}


.get_row{
  border: 5px solid;
  border-color: transparent;
  border-bottom-color: $border-color;
  margin-bottom:$margin-l;
  // padding-bottom:$padding;
  text-align:center;
  font-size:$font;
}

.get_row .col-12{
  margin-top:$margin;
  margin-bottom:$margin-s;
}

.offer_row{
  margin-bottom:$margin;
}

.offer_data1{
  text-align:center;
}

.offer_num{
  font-size:$font-xl;
}

.offer_data2{
  margin:auto;
}

.get_data2{
  margin:auto;
}

.blue_btn{
  padding:0;
  width:100%;
  background-color:$offer-cl;
}

.set_row .col-12{
  padding-top:10px;
  padding-bottom:10px;
}

.set_row .set_data{
  border: 5px solid;
  border-color: transparent;
  border-bottom-color: $border-color;
}

.set_col{
  border: 5px solid;
  border-color: transparent;
  border-bottom-color: $border-color;
}
.set_col .col-2{
  text-align:end;
}

.bottom_nav{
  position: fixed;
  bottom: 4rem;
  width: 100%;
  background-color:$nav-color;
  color:$text-color;
  padding:10px 30px;
  text-align:end;
}

.bottom_nav a{
  color:$text-color;
}


//設定ページ共通
.user_set {
  margin-top:$margin;
}
.user_set input {
  display:block;
  font-size: $font;
  // margin: 0 auto;
  width:100%;
  margin-bottom:$margin-s;
}

// name_set
.name_set input{
  margin-top: $margin;
}

//ad_set
// .address_list{
//   margin-bottom:$margin-s;
// }

//get,give,deal共通

.deal_row{
  margin-top:$margin-s;
}

.deal_data{
  border: 5px solid;
  border-color: transparent;
  border-bottom-color: $nav-color;
  padding-bottom:$padding-s;
  font-size:$font-s;
}

.deal_data:first-child{
  border-top-color: $nav-color;
}

.deal_data span{
  font-size:$font-l;
}


//ログイン、新規登録共通

.login_row{
  margin-top:$margin;
}

.login_col input {
  display:block;
  font-size: $font;
  margin: 0 auto;
  width:100%;
  margin-top:$margin-s;
}

.login_col .red_btn{
  margin-top:$margin;
}

.login_col2{
  text-align:center;
  font-size:$font-l;
}
