// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.give_row{
  border: 1px solid;
  border-color: transparent;
  border-bottom-color: $border-color;
}

.get_row{
  border: 1px solid;
  border-color: transparent;
  border-bottom-color: $border-color;
}

.set_row{
  border: 1px solid;
  border-color: transparent;
  border-bottom-color: $border-color;
}
